<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.peterbukhal.android.taxi.client">

    <permission
        android:name="name.peterbukhal.android.taxi.client.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- D! -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="name.peterbukhal.android.taxi.client.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="true" />

    <application
        android:name=".TaxiClientApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.LauncherActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RegistrationActivity" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.peterbukhal.name" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.OrderMonitoringService"
            android:exported="false" />

        <service
            android:name=".service.ntp.NtpService"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="name.peterbukhal.android.ordersfragmentlab" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.gcm.GcmMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.gcm.GcmInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".service.gcm.GcmRegistrationService"
            android:exported="false" />

        <service
            android:name=".service.auth.TaxiAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".service.sync.SyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".service.sync.StubProvider"
            android:authorities="name.peterbukhal.android.taxi.client"
            android:exported="false"
            android:syncable="true" />
    </application>
</manifest>
